version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: umbrel-helipad-beta-app_web_1
      APP_PORT: 5150

  web:
    image: podcastindexorg/podcasting20-helipad@sha256:bce12b5df2313854813f7db38ea4c7d0cb61eae840795203dcbc4fb77acbbb9f
    init: true
    restart: on-failure
    stop_grace_period: 1m
    user: "1000:1000"
    volumes:
      - ${APP_DATA_DIR}/data:/data
      - ${APP_LIGHTNING_NODE_DATA_DIR}:/lnd:ro
    environment:
      LND_URL: "$APP_LIGHTNING_NODE_IP:$APP_LIGHTNING_NODE_GRPC_PORT"
      # HELIPAD_PASSWORD: "${APP_PASSWORD}"
      HELIPAD_LISTEN_PORT: 5150
